<div id="blog-list">

{% include 'navbar.html' %}

{% if search %}
    <p class="list-col-wrap text-xs">
            {{ blogs|length }} blogs found.
    </p>
{% endif %}
    <ul class="list bg-base-500 rounded-box shadow-md">
        {% comment %} <div class="text-bold text-md">Some of the blogs</div> {% endcomment %}
            {% for blog in blogs %}
                <li class="m-auto p-3 list-row">
                    <div class="card w-full card-md shadow-xl">
                        <div class="card-body">
                            <h2 class="card-title text-slate-900">
                                <a href="{% url 'blog:get_blog_by_slug' blog.slug %}">{{ blog.title }}</a>
                            </h2>
                            <p class="text-slate-600 h-10">
                                {{ blog.content|truncatewords:25 }}
                                <a href="{% url 'blog:get_blog_by_slug' blog.slug %}" class="text-blue-700">read more...</a>
                            </p>
                            
                            <div class="justify-between card-actions py-3">
                                <div>
                                {% for tag in blog.tags.all %}
                                    {% comment %} <div class="mx-1 badge bg-indigo-100 text-indigo-500">{{ tag.name }}</div>
                                     {% endcomment %}
                                     <div class="badge badge-soft bg-indigo-100 text-indigo-600 text-xs font-semibold rounded-full uppercase tracking-wider">{{ tag.name }}</div>
                                {% endfor %}
                            </div>
                            <div class="text-sm font-sans italic text-slate-500">
                                - by {{blog.author.full_name}} | 
                                <span class="antialiased not-italic">{{ blog.created_at|date:"M d, Y" }}</span>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </li>
            {% endfor %}
            </ul>
</div>