<div id="blog-list">
<div class="grid place-items-center">
            {% if user.is_authenticated %}
                    <ul class="menu menu-horizontal rounded-box">
                        <li>
                            <a href="{% url 'blog:home_page' %}" class="rounded-md{% if tab == 'homepage' %} bg-indigo-100 text-gray-700{% else %} text-gray-500 {% endif %}">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-7 w-7"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                            </svg>
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{% url 'blog:create_blog' %}"
                                class="rounded-md{% if tab == 'create' %} bg-indigo-100 text-gray-700{% else %} text-gray-500 {% endif %}"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-7 w-7"
                                    viewBox="0 0 24 24"
                                    fill="currentColor">

                                    <path d="
                                        M 12 0.96
                                        C 5.908 0.96 0.96 5.908 0.96 12
                                        C 0.96 18.092 5.908 23.04 12 23.04
                                        C 18.092 23.04 23.04 18.092 23.04 12
                                        C 23.04 5.908 18.092 0.96 12 0.96
                                        Z

                                        M 12 1.92
                                        C 17.5727 1.92 22.08 6.4273 22.08 12
                                        C 22.08 17.5727 17.5727 22.08 12 22.08
                                        C 6.4273 22.08 1.92 17.5727 1.92 12
                                        C 1.92 6.4273 6.4273 1.92 12 1.92
                                        Z

                                        M 11.52 6.24
                                        L 11.52 11.52
                                        L 6.24 11.52
                                        L 6.24 12.48
                                        L 11.52 12.48
                                        L 11.52 17.76
                                        L 12.48 17.76
                                        L 12.48 12.48
                                        L 17.76 12.48
                                        L 17.76 11.52
                                        L 12.48 11.52
                                        L 12.48 6.24
                                        Z
                                    "/>
                                </svg>

                            </a>
                        </li>
                        <li>
                            <a class="rounded-md{% if tab == 'saved' %} bg-indigo-100 text-gray-700 {% else %} text-gray-500 {% endif %}">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-7 w-7"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" />
                            </svg>
                            </a>
                        </li>
                    </ul>
            {% else %}
            {% endif %}
</div>

</div>